<h2>Partners</h2>
<ul>
  <li>
    Players are assigned a partner. Efforts were made to make teams as fair as possible so more experienced players are paired
    with less experienced ones. An effort was made to pair players with a partner that has similar availability as them.
    Divisions 1 and 2 primarily asked to play on Fridays and weekends whereas division 3 kids are usually free on Mondays
    and Wednesdays in addition to some weekends.
  </li>
</ul>


<h2>Schedule</h2>
<ul>
  <li>
    Players will be given a list of their opponents. Basically, they play everyone in their division. You can schedule your matches
    in any order, as long as they are all completed by December 14.
  </li>
  <li>
    When scheduling matches, each player should talk to their partner and generate some dates that work for both players. You
    should then reach out to the other team and offer them several dates to play.
  </li>
  <li>
    After all division matches are complete, everyone will have a scheduled match the week of December 14 against a team from
    another division with a similar win percentage. Then, based on team’s results, a playoff draw will be developed.
  </li>
  <li>
    Playoffs will be held between December 21 and January 4. Please make sure that you will be available at least some of the
    days during that time period if you plan to play in the league.
  </li>
</ul>

<h2>Matches</h2>
<ul>
  <li>
    Decide who will be the home team. One player should reserve a court. Take turns providing balls. They should be green dot
    balls but can be gently used.
  </li>
  <li>
    Matches are one set to 8 with ad scoring. In case of a tie and both teams are at 8-8, a 7-point tiebreaker should be played.
  </li>
  <li>
    Following the match, the score should be emailed to Denise Faust with the other team copied within 24 hours.
  </li>
  <li>
    The website will be updated regularly so you can see the standings. Austin Lynn has agreed to develop the website for us.
    Once that is completed, I’ll send you all the link for it.
  </li>
</ul>
<h2>
  Standings
</h2>
<ul>
  <li>
    Players will earn points based on the number of games they win in a match. At the end of the season, the team with the most
    points is the division winner. In the event of a tie, the total point differential will be used across all matches.
  </li>
</ul>